
.form-table__row{
    margin-bottom:30px;
}



.form-table__input--name input{
        margin-top: 20px;
        padding: 10px;
        width: 280px;
        border: 1px solid #ddd;
        border-radius: 3px;
    
        appearance: none;
}

.form-table__input--name--lastname input{
    margin-right:40px;
}


.form-table__input--name{
    display: flex;
}

.form-table__label--required{
    color:red;
}


.form-table__input--example{
    color: grey;
    font-size: 12px;
}


.form__input--text input,
.form-table__input--textarea textarea {
    padding: 0px;
    width: 600px;
    border: 1px solid #ddd;
    border-radius: 3px;

    appearance: none;
}

.form-table__input--textarea textarea{
    height: 180px;
}

.form-table__input input {
    padding: 10px;
    margin-top:20px;
    width: 600px;
    border: 1px solid #ddd;
    border-radius: 3px;
        
    appearance: none;
}

.form__input--text input {
    height: 40px;
}

.form-table__input--name {
    padding: 10px;
    margin-top: 20px;
    width: 300px;
    font-size: 18px;
}
